html {
    height: 100%; /* Ensure the full height of the window is used */
    margin: 0; /* Reset default margin */
  }
  
  body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh; /* Use min-height to ensure at least the viewport height */
    margin: 0; /* Ensure no margin on the body */
  }
  
  .container-fluid {
    flex: 1; /* Allows the container to expand and fill available space */
    display: flex;
    flex-direction: column;
    margin: 0; /* Reset any default margin */
    padding: 0; /* Reset any default padding */
  }
  
  /* Ensure the footer sticks to the bottom and has no margin pushing it down */
  .footer {
    margin-top: auto; /* This pushes the footer to the bottom */
  }

.box{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    padding: 40px;
    background-color: #004B23;
    margin-bottom: 10%;
}

.title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn-login{
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #38B000;
    border-radius: 19px;
    color: white;
    width: 119px;
    height: 39px;
    border: none;
    outline: none;
}

.HoverSwitch:hover{
    border-bottom: 1px solid rgb(70, 247, 70);
    color: rgb(70, 247, 70) !important;
}

@media (max-width: 480px) {
    .title{
        margin-top: 15%;
        margin-bottom: 25px;
    }
}

@media (min-width: 480px){
    .box{
         padding-left: 50px !important;
         padding-right: 50px !important;
         margin-top: 5%;
    }
    .title{
        margin-top: 5%;
    }
}
